USE [master]
GO
/****** Object:  Database [onlineExam]    Script Date: 8/5/2018 10:26:31 PM ******/
CREATE DATABASE [onlineExam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'onlineExam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\onlineExam.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'onlineExam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\onlineExam_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [onlineExam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [onlineExam]
GO
/****** Object:  Table [dbo].[AksesKelas]    Script Date: 8/5/2018 10:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AksesKelas](
	[idKelas] [int] NULL,
	[idGuru] [varchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AksesMapel]    Script Date: 8/5/2018 10:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AksesMapel](
	[idMapel] [int] NULL,
	[idGuru] [varchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[detailKelas]    Script Date: 8/5/2018 10:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detailKelas](
	[idDetailKelas] [int] IDENTITY(1,1) NOT NULL,
	[noKelas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetailKelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DetailSoal]    Script Date: 8/5/2018 10:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailSoal](
	[idDetailSoal] [int] NULL,
	[idNoSoal] [int] NULL,
	[idMapel] [int] NULL,
	[pertanyaan] [varchar](max) NULL,
	[jawabanA] [varchar](max) NULL,
	[jawabanB] [varchar](max) NULL,
	[jawabanC] [varchar](max) NULL,
	[jawabanD] [varchar](max) NULL,
	[jawabanE] [varchar](max) NULL,
	[jawabanBenar] [char](1) NULL,
	[idPrimary] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPrimary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Guru]    Script Date: 8/5/2018 10:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guru](
	[idGuru] [varchar](10) NOT NULL,
	[fullName] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[role] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGuru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HeaderSoal]    Script Date: 8/5/2018 10:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeaderSoal](
	[idSoal] [int] IDENTITY(1,1) NOT NULL,
	[idMapel] [int] NULL,
	[idGuru] [varchar](10) NULL,
	[idDetailSoal] [int] NULL,
	[TglDibuat] [datetime] NULL,
	[jmlSoal] [int] NULL,
	[idKelas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idSoal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kelas]    Script Date: 8/5/2018 10:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kelas](
	[idKelas] [int] IDENTITY(1,1) NOT NULL,
	[namaKelas] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[idKelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mapel]    Script Date: 8/5/2018 10:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mapel](
	[idMapel] [int] IDENTITY(1,1) NOT NULL,
	[namaMapel] [varchar](100) NULL,
	[Kkm] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMapel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pengguna]    Script Date: 8/5/2018 10:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pengguna](
	[idPengguna] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[role] [varchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Siswa]    Script Date: 8/5/2018 10:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siswa](
	[idSiswa] [varchar](10) NOT NULL,
	[fullName] [varchar](100) NULL,
	[kelas] [varchar](3) NULL,
	[password] [varchar](100) NULL,
	[role] [varchar](100) NULL,
	[idDetailKelas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idSiswa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ujian]    Script Date: 8/5/2018 10:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ujian](
	[idUjian] [int] IDENTITY(1,1) NOT NULL,
	[idSoal] [int] NOT NULL,
	[idSiswa] [varchar](10) NOT NULL,
	[tglPengerjaan] [datetime] NULL,
	[nilai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUjian] ASC,
	[idSoal] ASC,
	[idSiswa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AksesKelas] ([idKelas], [idGuru]) VALUES (2, N'TC20170023')
INSERT [dbo].[AksesKelas] ([idKelas], [idGuru]) VALUES (3, N'TC20170023')
INSERT [dbo].[AksesKelas] ([idKelas], [idGuru]) VALUES (1, N'TC20170024')
INSERT [dbo].[AksesMapel] ([idMapel], [idGuru]) VALUES (7, N'TC20170023')
INSERT [dbo].[AksesMapel] ([idMapel], [idGuru]) VALUES (2, N'TC20170023')
INSERT [dbo].[AksesMapel] ([idMapel], [idGuru]) VALUES (3, N'TC20170023')
SET IDENTITY_INSERT [dbo].[detailKelas] ON 

INSERT [dbo].[detailKelas] ([idDetailKelas], [noKelas]) VALUES (1, 1)
INSERT [dbo].[detailKelas] ([idDetailKelas], [noKelas]) VALUES (2, 2)
INSERT [dbo].[detailKelas] ([idDetailKelas], [noKelas]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[detailKelas] OFF
SET IDENTITY_INSERT [dbo].[DetailSoal] ON 

INSERT [dbo].[DetailSoal] ([idDetailSoal], [idNoSoal], [idMapel], [pertanyaan], [jawabanA], [jawabanB], [jawabanC], [jawabanD], [jawabanE], [jawabanBenar], [idPrimary]) VALUES (1, 1, 1, N'Berikut  yang bukan merupakan contoh dari konjungsi temporal adalah?', N'mengapa ', N'selanjutnya ', N'kemudian', N'apabila', N'setelah', N'C', 1)
INSERT [dbo].[DetailSoal] ([idDetailSoal], [idNoSoal], [idMapel], [pertanyaan], [jawabanA], [jawabanB], [jawabanC], [jawabanD], [jawabanE], [jawabanBenar], [idPrimary]) VALUES (1, 2, 1, N'Kalimat dengan tesk prosedur tidak membingungkan dan mudah diikuti berarti kalimat tersebut', N'logis', N'singkat', N'jelas', N'baku', N'ejektif', N'B', 2)
INSERT [dbo].[DetailSoal] ([idDetailSoal], [idNoSoal], [idMapel], [pertanyaan], [jawabanA], [jawabanB], [jawabanC], [jawabanD], [jawabanE], [jawabanBenar], [idPrimary]) VALUES (1, 3, 1, N'“jangan serahkan kendaraan atau STNK begitu saja” merupakan kalimat?', N'Interogatif', N'Imperative', N'Deklaratif', N'primitive ', N'baku ', N'A', 3)
GO
SET IDENTITY_INSERT [dbo].[DetailSoal] OFF
INSERT [dbo].[Guru] ([idGuru], [fullName], [password], [role]) VALUES (N'TC20010010', N'Nurul Handi', N'nurul', N'Guru')
INSERT [dbo].[Guru] ([idGuru], [fullName], [password], [role]) VALUES (N'TC20080001', N'Senny Permata Sari', N'senny', N'Guru')
INSERT [dbo].[Guru] ([idGuru], [fullName], [password], [role]) VALUES (N'TC20080002', N'Ira Rahmawati', N'ira', N'Guru')
SET IDENTITY_INSERT [dbo].[HeaderSoal] ON 

INSERT [dbo].[HeaderSoal] ([idSoal], [idMapel], [idGuru], [idDetailSoal], [TglDibuat], [jmlSoal], [idKelas]) VALUES (1, 1, N'TC20120008', 1, CAST(N'2018-01-03T00:00:00.000' AS DateTime), 10, 1)
INSERT [dbo].[HeaderSoal] ([idSoal], [idMapel], [idGuru], [idDetailSoal], [TglDibuat], [jmlSoal], [idKelas]) VALUES (2, 2, N'TC20170024', 2, CAST(N'2018-11-03T00:00:00.000' AS DateTime), 10, 2)
INSERT [dbo].[HeaderSoal] ([idSoal], [idMapel], [idGuru], [idDetailSoal], [TglDibuat], [jmlSoal], [idKelas]) VALUES (3, 3, N'TC20170026', 3, CAST(N'2018-03-11T00:00:00.000' AS DateTime), 10, 3)
SET IDENTITY_INSERT [dbo].[HeaderSoal] OFF
SET IDENTITY_INSERT [dbo].[Kelas] ON 

INSERT [dbo].[Kelas] ([idKelas], [namaKelas]) VALUES (1, N'X')
INSERT [dbo].[Kelas] ([idKelas], [namaKelas]) VALUES (2, N'XI')
INSERT [dbo].[Kelas] ([idKelas], [namaKelas]) VALUES (3, N'XII')
SET IDENTITY_INSERT [dbo].[Kelas] OFF
SET IDENTITY_INSERT [dbo].[Mapel] ON 

INSERT [dbo].[Mapel] ([idMapel], [namaMapel], [Kkm]) VALUES (1, N'Bahasa Indonesia', 76)
INSERT [dbo].[Mapel] ([idMapel], [namaMapel], [Kkm]) VALUES (2, N'Bahasa Inggris', 76)
INSERT [dbo].[Mapel] ([idMapel], [namaMapel], [Kkm]) VALUES (3, N'Matematika', 76)
SET IDENTITY_INSERT [dbo].[Mapel] OFF
INSERT [dbo].[Pengguna] ([idPengguna], [password], [role]) VALUES (N'20166809', N'akhdan123', N'Siswa')
INSERT [dbo].[Pengguna] ([idPengguna], [password], [role]) VALUES (N'TC20170023', N'ecky123', N'Guru')
INSERT [dbo].[Pengguna] ([idPengguna], [password], [role]) VALUES (N'admin', N'admin', N'Admin')
INSERT [dbo].[Siswa] ([idSiswa], [fullName], [kelas], [password], [role], [idDetailKelas]) VALUES (N'20155801', N'Ahmad Basir Sutisna', N'XII', N'ahmad', N'Siswa', 7)
INSERT [dbo].[Siswa] ([idSiswa], [fullName], [kelas], [password], [role], [idDetailKelas]) VALUES (N'20155802', N'Alexa Putra', N'XII', N'alex', N'Siswa', 7)
INSERT [dbo].[Siswa] ([idSiswa], [fullName], [kelas], [password], [role], [idDetailKelas]) VALUES (N'20155803', N'Malik Putra Adam', N'XII', N'malik', N'Siswa', 7)
SET IDENTITY_INSERT [dbo].[Ujian] ON 

INSERT [dbo].[Ujian] ([idUjian], [idSoal], [idSiswa], [tglPengerjaan], [nilai]) VALUES (1, 1, N'20166809', CAST(N'2018-03-11T00:00:00.000' AS DateTime), 100)
INSERT [dbo].[Ujian] ([idUjian], [idSoal], [idSiswa], [tglPengerjaan], [nilai]) VALUES (2, 2, N'20166809', CAST(N'2018-03-11T00:00:00.000' AS DateTime), 100)
INSERT [dbo].[Ujian] ([idUjian], [idSoal], [idSiswa], [tglPengerjaan], [nilai]) VALUES (3, 4, N'20166809', CAST(N'2018-04-19T21:31:31.757' AS DateTime), 100)
SET IDENTITY_INSERT [dbo].[Ujian] OFF
ALTER TABLE [dbo].[AksesKelas]  WITH CHECK ADD FOREIGN KEY([idGuru])
REFERENCES [dbo].[Guru] ([idGuru])
GO
ALTER TABLE [dbo].[AksesKelas]  WITH CHECK ADD FOREIGN KEY([idKelas])
REFERENCES [dbo].[Kelas] ([idKelas])
GO
ALTER TABLE [dbo].[AksesMapel]  WITH CHECK ADD FOREIGN KEY([idGuru])
REFERENCES [dbo].[Guru] ([idGuru])
GO
ALTER TABLE [dbo].[AksesMapel]  WITH CHECK ADD FOREIGN KEY([idMapel])
REFERENCES [dbo].[Mapel] ([idMapel])
GO
ALTER TABLE [dbo].[DetailSoal]  WITH CHECK ADD FOREIGN KEY([idMapel])
REFERENCES [dbo].[Mapel] ([idMapel])
GO
ALTER TABLE [dbo].[HeaderSoal]  WITH CHECK ADD FOREIGN KEY([idGuru])
REFERENCES [dbo].[Guru] ([idGuru])
GO
ALTER TABLE [dbo].[HeaderSoal]  WITH CHECK ADD FOREIGN KEY([idKelas])
REFERENCES [dbo].[Kelas] ([idKelas])
GO
ALTER TABLE [dbo].[HeaderSoal]  WITH CHECK ADD FOREIGN KEY([idMapel])
REFERENCES [dbo].[Mapel] ([idMapel])
GO
ALTER TABLE [dbo].[Siswa]  WITH CHECK ADD FOREIGN KEY([idDetailKelas])
REFERENCES [dbo].[detailKelas] ([idDetailKelas])
GO
ALTER TABLE [dbo].[Ujian]  WITH CHECK ADD FOREIGN KEY([idSiswa])
REFERENCES [dbo].[Siswa] ([idSiswa])
GO
ALTER TABLE [dbo].[Ujian]  WITH CHECK ADD FOREIGN KEY([idSoal])
REFERENCES [dbo].[HeaderSoal] ([idSoal])
GO
USE [master]
GO
